* {
    margin: 0;
    padding: 0;
}

.text {
    padding-left: 200px;
    padding-right: 200px;
    width: 60%;
}

table,
td,
th {
    border: 1px solid black;
    width: 600px;
    text-align: center;
}

body {
    background-color: bisque;
    background-size: contain;
}

.videoPresentacion{
    margin: 0 auto;
    width: 35%;

}

.imagenes {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.contenedorImagenes {
    margin: 0 auto;
    display: flex;
    gap: 3rem;
}
img, video{
    width: 580px;
    height: 390px;
}

.galeria1{
    display: block;
    margin: 0 auto
   
}

.galeria2{
    display: block;
    margin: 0 auto;

}

.tabla table {
    margin: 0 auto;
}

.titulos {
    text-align: center;
}